<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Current Projects</h1>
    <br/>
    <a href="/projects/new">New Project</a>
    <hr/>
    <table>
        <tr>
            <td>Project Name</td>
            <td>Project Stage</td>
            <td>Project Description</td>
        </tr>

        <tr th:each="field: ${projectList}">
            <td th:text="${field.name}"></td>
            <td th:text="${field.stage}"></td>
            <td th:text="${field.description}"></td>
        </tr>
    </table>
</body>
</html>